#main-container figure {
    max-height: 276px;
}

#main-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-container .get-involved {
    gap: var(--m);
    padding: var(--m) 0;
}
#main-container .get-involved > div {
    gap: var(--m);
    padding: var(--m);
}

#main-container .get-involved {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "area01"
        "area02"
        "area03";
}

#main-container .get-involved > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto) 1fr;
}

#main-container .get-involved .support {
    grid-area: area01;

    grid-template-areas:
        "area01"
        "area02"
        "area03"
        "area04";
}

#main-container .get-involved .support :nth-child(1) {
    grid-area: area01;
    border-bottom: 1px var(--yellow01) solid;
}

#main-container .get-involved .support :nth-child(2) {
    grid-area: area02;
}

#main-container .get-involved .support :nth-child(3) {
    grid-area: area03;
}

#main-container .get-involved .support :nth-child(4) {
    grid-area: area04;
}

#main-container .get-involved .internships {
    grid-area: area02;
    background-color: var(--overlay02);

    grid-template-areas:
        "area01"
        "area02"
        "area03"
        "area05"
        "area04";
}

#main-container .get-involved .internships :nth-child(1) {
    grid-area: area01;
    border-bottom: 1px var(--yellow01) solid;
}

#main-container .get-involved .internships :nth-child(2) {
    grid-area: area02;
}

#main-container .get-involved .internships :nth-child(3) {
    grid-area: area03;
}

#main-container .get-involved .internships :nth-child(4) {
    grid-area: area04;
}

#main-container .get-involved .internships :nth-child(4) {
    grid-area: area05;
}

#main-container .get-involved .valunteer {
    grid-area: area03;

    grid-template-areas:
        "area01"
        "area02"
        "area03"
        "area04";
}

#main-container .get-involved .valunteer :nth-child(1) {
    grid-area: area01;
    border-bottom: 1px var(--yellow01) solid;
}

#main-container .get-involved .valunteer :nth-child(2) {
    grid-area: area02;
}

#main-container .get-involved .valunteer :nth-child(3) {
    grid-area: area03;
}

#main-container .get-involved .valunteer :nth-child(4) {
    grid-area: area04;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #main-container .get-involved {
        padding: var(--l);
    }

    #main-container .get-involved .support {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "area01 area01"
            "area02 area03"
            "area04 area03"
            ". area03";
    }

    #main-container .get-involved .internships {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "area01 area01"
            "area02 area05"
            "area03 area05"
            "area04 area05";
    }

    #main-container .get-involved .valunteer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "area01 area01"
            "area02 area03"
            "area04 area03"
            ". area03";
    }
}
@media only screen and (min-width: 992px) {
    #main-container .get-involved {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "area01 area02 area03";

        padding: var(--xl);
    }
}
